{% extends 'base/base.html' %}
{% load static %}

{% block title %}Python Pro - Home{% endblock title %}

{% block body  %}
    <div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Curso de Python com Luciano Ramalho
				</h2>
				<h4 class="mt-4"> Entre na fila de espera</h4>

                <form action="https://gmail.us7.list-manage.com/subscribe/post?u=1bbdf2f6e4d6be24e81f1dfe5&amp;id=b9964962e5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="mce-EMAIL">Email</label>
                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"
                                   placeholder="exemplo@email.com">
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="mce-FNAME">Email</label>
                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu Nome">
                        </div>

                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                                  name="b_298725d1b42f74339d8bcc8db_03c8c5bd04"
                                                                                                  tabindex="-1"
                                                                                                  value=""></div>


                        <div class="col-auto">
                            <input type="submit" value="Salvar" name="subscribe"
                                   id="mc-embedded-subscribe" class="btn btn-primary">
                        </div>
                    </div>
                </form>

















			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">
							Mais detalhes sobre o instrutor
						</h5>
						<div class="card-body">
							<p class="card-text">
								<img src="{% static 'img/lucianoramalho-foto.jpg' %}" alt="Foto de Luciano Ramalho"
									 class="img-thumbnail float-left mr-3">
								Luciano Ramalho é programador Python desde 1998, autor do livro
					            <a href="https://novatec.com.br/carrinho.php?isbn=9788575224625" target="_blank">Python Fluente</a>,
								Fellow da Python Software Foundation; é sócio do
								<a href="www.python.pro.br">Python.pro.br</a> – uma empresa de treinamento – e cofundador do Garoa Hacker Clube, o primeiro
								hackerspace do Brasil. Tem liderado equipes de desenvolvimento de software e ministrado cursos sobre
								Python em empresas de mídia, bancos e para o governo federal.
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body  %}

